/* you can override the default max-width size here or override each style by your custom css */

#write {
    font-size: 1rem;
    line-height: 1.25rem;
    max-width: 80rem;
}

p {
    line-height: 1.5rem;
}

pre,
code,
kbd,
tt,
var {
    font-size: 0.9em;
    font-family: 'JetBrains Mono', 'Fira Code', Consolas, 'Courier New', Courier, monospace;
}